.ellipsis{
 overflow: hidden; /*es to es si solo se quiere usar ellipsis en alguna otra parte*/
}

.ellipsis > *{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}