.playerVolume{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

.playerVolume-slider{
  flex: 1;
  /*Este slider será de ancho fijo asi que podemos otorgarle un ancho necesario*/
  max-inline-size: 6rem;
}